.wrapper {
    display: flex;
    align-items: flex-start;

    .social-wrapper {
        display: flex;
        flex-direction: column;
        position: sticky;
        width: fit-content;
        align-items: center;
        gap: 1rem;
        margin-top: -50%;
        top: 40%;
        margin-left: -3rem;
        padding-right: 2rem;
        @media screen and (max-width: 450px) {
            padding-right: 1rem;
            margin-left: -1rem;
        }
    }
}

.copyright {
    margin-right: 2rem;
    padding-bottom: 4rem;

    @media screen and (max-width: 450px) {
        margin: auto;
        padding-bottom: 2rem;
    }
}