
.portfolio {
    min-height: 1060px;
    margin: auto;
    background-image: url('../../assets/portfolio.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 100%;

    @media screen and (max-width: 450px) {
        background-size: 100% 50%;
    }
}

.main-portfolio {
    margin: auto;
    margin-top: 4rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;


    @media screen and (max-width: 450px) {
        margin-top: unset;
    }
}

.main-header {
    display: flex;
    gap: 1rem;
    flex-direction: column;

    align-items: center;


    @media screen and (max-width: 450px) {
        gap: 2rem;
    }

    .main-title {
        text-align: center;

        @media screen and (max-width: 450px) {
            font-size: var(--font-size-xxxl);
        }
    }

    .main-subtitle {
        align-items: center;
        display: flex;
        gap: 1rem;
        justify-content: center;
        width: fit-content;

        

        .sub-line {
            background-color: var(--california);
            height: 2px;
            width: 4rem;
            transform: rotate(180deg);
            
        }

        .sub-text {
            color: var(--california);
            font-family: var(--font-family-lexend);
            font-size: var(--font-size-l2);
            font-weight: 600;
            height: 18px;
            letter-spacing: 0;
            line-height: normal;
            text-align: center;

            @media screen and (max-width: 450px) {
                height: fit-content;
                font-weight: 500;
            }
        }
    }
}

.photo-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .photos {
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8%;
    width: 100%;
    height: 60%;
    margin-right: 0;
    -webkit-box-reflect: below 0.01px
    linear-gradient(transparent, transparent, #0006);
    
  }
  .swiper-container {
    height: 50vh;
    width: 100%;
  }

  .swiper-3d {
    height: 450px;
    display: flex;
    flex-direction: column;
  }

  .swiper-pagination-bullet-active {
    background-color: var(--mountain-meadow) !important;
  }

  .swiper-pagination {
    width: 30% !important;
    position:  relative !important;
    margin: auto !important;
  }

  .swiper-button-prev{
    top: 95% !important;
    left: 30%;
  }
  
  .swiper-button-next {
    top: 95% !important;
    right: 30%;
  }
  .swiper-button-prev::after {
    color: var(--oslo-gray);
  }

  .swiper-button-next::after {
    color: var(--oslo-gray);
  }

  .swiper-pagination-bullet {
    background-color: var(--oslo-gray);
    width: 12px;
    height: 12px;
  }

.blogs {
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.blogs-header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

    .blogs-subtitle {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        .blog-line {
            background-color: var(--california);
            height: 2px;
            width: 3rem;
        }

        .blog-subtitle-text {
            letter-spacing: 0;
            line-height: normal;
            text-align: center;
            font-size: var(--font-size-l2);
            font-weight: 600;

            @media screen and (max-width: 450px) {
                font-size: var(--font-size-l);
            }
        }
    }

    .blogs-title {
        letter-spacing: 0;
        line-height: normal;
        text-align: center;

        @media screen and (max-width: 450px) {
            font-size: var(--font-size-xxxl);
        }
    }
}

.blogs-container {
    display: flex;
    width: 100%;
    align-items: flex-start;
    gap: 4rem;

    @media screen and (max-width: 1125px) {
        flex-direction: column;
        align-items: center;
    }
    
}

.blogs-col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
    width: 40%;
    z-index: 1;

    @media screen and (max-width: 1125px) {
        width: 90%;
        flex-direction: row;
        flex-wrap: wrap;
    }

    @media screen and (max-width: 450px) {
        flex-direction: column;
    }
    

    .blog-container {
        display: flex;
        gap: 1rem;
        justify-content: space-around;
        align-items: center;
        padding: 1rem;
        width: fit-content;
        cursor: pointer;
        height: fit-content;

        @media screen and (max-width: 1125px) {
            width: 40%;
            flex-direction: column;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        }
        
        @media screen and (max-width: 450px) {
            width: 100%;
        }

        .blog-left {
            width: 40%;
            height: 190px;
            border-radius: 10px;
            @media screen and (max-width: 1125px) {
                width: 80%;  
            }
        }

        .blog-right {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            @media screen and (max-width: 1125px) {
                width: 80%;
                flex-direction: column;
            }

            .blog-author {
                display: flex;
                width: 70%;
                align-items: center;
                gap: 2.5rem;

                @media screen and (max-width: 900px) {
                    gap: 0.5rem;
                }

                img {
                    width: 60px;
                    height: 55px;
                    border-radius: 50%;
                }

                .blog-name {
                    letter-spacing: 0;
                    line-height: 22px;
                    white-space: nowrap;
                }
            }

            .blog-head {
                align-self: stretch;
                letter-spacing: 0;
                line-height: 32px;
            }

            .blog-stats {
                align-items: center;
                align-self: stretch;
                display: flex;
                gap: 1.5rem;

                @media screen and (max-width: 900px) and (min-width: 600px) {
                    flex-direction: column;
                    align-items: flex-start;
                }

                .blog-stats-duration {
                    display: flex;
                    gap: 1rem;
                }

                .blog-duration {
                    padding-right: 1rem;
                    border-right: 2px solid var(--oslo-gray);
                    letter-spacing: 0;
                    line-height: 24px;
                    white-space: nowrap;
                }

                .blog-date {
                    letter-spacing: 0;
                    line-height: 24px;
                    white-space: nowrap;
                }
            }
        }
    }
}

.primary-blog {
    align-items: center;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    gap: 21px;
    width: 50%;
    justify-content: center;
    padding: 0px 14px;

    @media screen and (max-width: 450px) {
        width: 90%;
    }

    @media screen and (max-width: 1125px) {
        width: 80%;
        flex-direction: column;
    }

    .blog-primary-title {
        align-self: stretch;
        color: var(--lucky-point);
        font-family: var(--font-family-lexend);
        font-size: var(--font-size-xxxl);
        font-weight: 500;
        letter-spacing: 0;
        line-height: 32px;
        text-align: center;
        flex-wrap: wrap;

        @media screen and (max-width: 450px) {
            font-size: var(--font-size-xl);
        }
    }

    .blog-primary-line {
        width: 20%;
        height: 2px;
        background-color: var(--mountain-meadow);
    }

    .blog-primary-mainimage {
        width: 100%;
        border-radius: 10px;
    }

    .blog-primary-content {
        color: var(--lucky-point) !important;
        font-family: var(--font-family-lexend);
        font-size: var(--font-size-m);
        font-weight: 500;
        letter-spacing: 0;
        line-height: 32px;
    }

    .blog-primary-stats {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;

        @media screen and (max-width: 450px) {
            flex-direction: column;
            align-items: flex-start;
            gap: 1rem;
        }

        .blog-primary-stats-left {
            display: flex;
            width: 30%;
            align-items: center;
            justify-content: space-between;

            @media screen and (max-width: 450px) {
                width: 100%;
                justify-content: unset;
                gap: 2rem;
            }

            img {
                width: 40%;
                height: 100%;

                @media screen and (max-width: 450px) {
                    height: 50px;
                    width: 60px;
                }
            }
        }

        .blog-primary-stats-right {
            display: flex;
            width: 50%;
            justify-content: flex-end;
            align-items: center;
            gap: 2rem;

            @media screen and (max-width: 450px) {
                width: 100%;
                justify-content: unset;
            }

            .blog-primary-duration {
                padding-right: 1rem;
                display: flex;
                gap: 1rem;
                border-right: 2px solid var(--oslo-gray);
                letter-spacing: 0;
                line-height: 24px;
                white-space: nowrap;
            }
        }
    }

    .blog-primary-content {
        color: var(--oslo-gray);
        font-family: var(--font-family-lexend);
        font-size: var(--font-size-m);
        font-weight: 500;
        letter-spacing: 0;
    }

}

.testimonials {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;

    @media screen and (max-width: 600px) {
        width: 90%;
    }

    .testimonial-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .test-image {
        width: 100%;
        height: 500px;
        opacity: 0.7;

        @media screen and (max-width: 600px) {
            display: none;
        }
    }
    .test-card {

        align-items: flex-start;
        z-index: 1;
        background-color: var(--white);
        border-radius: 16px;
        box-shadow: 0px 9px 32px #595bda0d;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        padding: 3rem;
        width: 70%;
        margin-top: -8rem;

        @media screen and (max-width: 600px) {
            margin-top: unset;
            width: 100%;
        }

        @media screen and (max-width: 1125px) {
            width: 80%;
        }

        @media screen and (max-width: 600px) {
            width: 100%;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
            padding: 2rem;
        }

        .test-card-image {
            display: none;

            @media screen and (max-width: 600px) {
                display: unset;
                width: 100%;
                height: 200px;
                opacity: 0.7;
            }
        }

        .test-card-content {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            gap: 16px;
            width: fit-content;

            .test-title {
                letter-spacing: 0;
                line-height: normal;
            }

            .test-review {
                letter-spacing: 0;
                line-height: 24px;
                opacity: 0.75;
            }
        }

        .test-person {

            display: flex;
            justify-content: space-between;
            align-items: center;

            .person-left {

                display: flex;
                width: 50%;
                align-items: center;
                gap: 1.5rem;

                @media screen and (max-width: 1125px) {
                    width: 60%;
                }

                .test-photo {
                    width: 20%;
                    height: 20%;
                    border-radius: 50%;
                }
            }

            .person-right {
                display: flex;
                
                width: 20%;
                align-items: center;
                justify-content: space-around;


            }
        }
    }
}

.app__testimonial-btns {
    flex-direction: row;
    gap: 6rem;

    div {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: var(--mountain-meadow);
        cursor: pointer;
        margin: 1rem;
        transition: all 0.3s ease-in-out;

        svg {
            width: 20px;
            height: 20px;
            color: var(--white);
        }

        /* &:hover {
            background-color:var(--secondary-color);

            svg {
                color: var(--white-color);
            }
        } */
    }
}

.terms {
    margin-bottom: -4rem !important;
}


