
.react-responsive-modal-modal {
        max-width: unset;
        width: 80%;
    .modal {
        height: 634px;
        margin: -20px;
        backdrop-filter: blur(40px);
        -webkit-backdrop-filter: blur(40px);
        
        @media screen and (max-width: 960px){
            height: fit-content;
        }
    }

}

#estimateBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    object-fit: cover;
    z-index: -1;

    @media screen and (max-width: 960px){
        height: 110%;
    }
}

.mainframe {
    background: rgba(255,255,255,0.4);
    backdrop-filter: blur(10px);
    z-index: 2;
    border-radius: 20px;
    height: 90%;
    width: 90%;
    margin: auto;
    position: relative;
    top: 35px;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 960px){
        height: fit-content;
        padding-bottom: 2rem;
        gap: 1rem;
    }
}

.topLeft {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 1rem;
    margin: 2rem;

    @media screen and (max-width: 960px){
        margin-bottom: unset;
    }

    @media screen and (max-width: 550px){
        gap: unset;
        margin-left: unset;
    }

    .estimate-logo {
        width: 110px;
        height: 100%;
    }

    .name-title {
        height: 100%;
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @media screen and (max-width: 550px) {
            margin-left: -1rem;
            width: 100%;
            margin-bottom: 1rem;
        }
       

        .estimate-name {
            color: #40515b;       
            font-family: "Rounded Mplus 1c-ExtraBold";
            font-size: var(--font-size-xxl);
            font-weight: 800;
            letter-spacing: 0;
            line-height: normal;

            @media screen and (max-width: 550px){
                font-size: var(--font-size-x);
            }
        }

        .estimate-tag {
            color: #40515b;
            font-family: "Rounded Mplus 1c-ExtraBold";
            font-size: var(--font-size-m);
            font-weight: 800;
            letter-spacing: 0;
            line-height: normal;
        }
    }
}

.center-modal {
    height: 380px;
    display: flex;
    width: 90%;
    margin: auto;

    @media screen and (max-width: 960px) {
        flex-direction: column;
        margin-top: unset;
        align-items: center;
        gap: 2rem;
        height: fit-content;
    }

    .images-estimate {
        width: 50%;
        height: 100%;
        margin: auto;
        margin-top: -3rem;
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 960px) {
            width: 90%;
            margin-top: unset;
        }

        .about-1 {
            width: 100%;
            height: 300px;
            border-radius: 5px;
            border: 0.5px solid white;
            margin-left: 2rem;
            transition: all 0.3s ease-in-out;

            @media screen and (max-width: 960px) {
                margin-left: unset;
            }

                &:hover {
                    scale: 1.2;
                }
        }

        .img-axis {
            width: 100%;
            display: flex;
            gap: 2rem;

            @media screen and (max-width: 550px) {
                margin-left: 2rem;
            }

            .about-3, .about-4 {
                width: 30%;
                height: 100px;
                border-radius: 5px;
                margin-top: -3rem;
                margin-left: -1rem;
                border: 0.5px solid white;
                transition: all 0.3s ease-in-out;

                @media screen and (max-width: 960px) {
                    margin-left: unset;
                }

               
                &:hover {
                    scale: 1.2;
                }
            }

            .about-3 {

                @media screen and (max-width: 770px) {
                    width: 40%;
                    height: 130px;
                    margin-top: -4.7rem;
                }
            }
            .about-4 {

                @media screen and (max-width: 770px) {
                    display: none;
                }
            }

            .about-2 {
                width: 50%;
                height: 170px;
                border-radius: 5px;
                margin-top: -7.4rem;
                border: 0.5px solid white;

                transition: all 0.3s ease-in-out;

                @media screen and (max-width: 960px) {
                    margin-left: -1.5rem;
                }

                &:hover {
                    scale: 1.2;
                }
            }

        }
    }

    .estimate-form {
        width: 50%;
        height: 140%;
        margin-top: -8rem;
        margin-left: 6rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        @media screen and (max-width: 960px) {
            width: 90%;
            margin-top: unset;
            margin-left: unset;
        }

        @media screen and (max-width: 550px) {
            width: 100%;
        }
    }

    .nameBox {

        @media screen and (max-width: 550px) {
            
            width: 100% !important;
        }
    }

    .title-form {
        color: #40515b;       
        font-family: "Rounded Mplus 1c-ExtraBold";
        font-size: var(--font-size-xxl);
        font-weight: 800;
        letter-spacing: 0;
        line-height: normal;

        .word-estimate {
            color: var(--mountain-meadow) !important;
            text-decoration: underline;
        }
    }
}

.estimateBtn {
    align-items: center;
    background-color: var(--mountain-meadow);
    border-radius: 32px;
    cursor: pointer;
    display: flex;
    gap: 4px;
    padding: 12px;
    width: fit-content;

    .free-estimate {
        letter-spacing: 0;
        line-height: 22px;
        white-space: nowrap;
        width: fit-content;
    }

    .evaarrow-fill {
        height: 24px;
        min-width: 24px;
    }
}


