@import url("https://fonts.googleapis.com/css?family=Lexend:400,700,500,600,800|Open+Sans:400,600");

#about { 
    min-height: 1060px;
    background-image: url('../../assets/about.png');
    object-fit: cover;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-items: center;
    align-items: flex-end;
    width: 100%;
}

.navbar-left {

    @media screen and (max-width: 410px) {
        margin-left: unset !important;
        width: 70% !important;
    }
}

.mainAbout {
    display: flex;
    margin: auto;
    margin-top: 6rem;
    margin-left: 4rem;
    gap: 2rem;

    .contentAbout {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 45%;

        .house-detail {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 90%;

            .header {
                align-items: flex-start;
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                

                .c-text {
                    letter-spacing: 0;
                    line-height: normal;
                    min-height: 26px;
                }

                .p-text {
                    letter-spacing: 0;
                    line-height: 28px;
                    min-height: 70px;
                    opacity: 0.75;
                }

            }

            .sub-title {
                display: flex;
                gap: 0.8rem;
                align-items: center;

                .leftline {
                    background-color: var(--california);
                    height: 0.15rem;
                    width: 3rem;
                    margin-left: -3.6rem;
                    margin-bottom: 0.5rem;
                } 
            }

            .h-text {
                align-self: center;
                letter-spacing: 0;
                line-height: normal;
                min-height: 50px;
            }

            .who-text {
                letter-spacing: 0;
                line-height: 28px;
                min-height: 40px;
                opacity: 0.75;
            }

            .info-text {
                letter-spacing: 0;
                line-height: 28px;
                min-height: 278px;
                opacity: 0.75;
            }
        }

        @media screen and (max-width: 1300px) {
            width: 90%;
        }
    }

    @media screen and (max-width: 1300px){
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 2rem;
        gap: 5rem;
    }

    @media screen and (max-width: 410px) {
        margin-top: 2rem;
    }
}

.separator {
    background-color: #f0f3fd;
    height: 3px;
    width: 90%;
    
}

.separator-bottom {

    @media screen and (max-width: 1300px) {
        background-color: #f0f3fd;
        height: 3px;
        width: 90%;
    }
}

.contact-info {
    align-items: center;
    display: flex;
    gap: 4rem;
    justify-content: center;
    width: fit-content;

    .left-contact {
        align-items: center;
        display: flex;
        gap: 30px;
        justify-content: center;
        width: fit-content;

        .owner {
            height: 138px;
            object-fit: cover;

        }

        .nameDesignation {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            gap: 4px;
            width: fit-content;

            .name {
                color: var(--midnight);
                font-family: var(--font-family-lexend);
                font-size: var(--font-size-xl);
                font-weight: 500;
                letter-spacing: 0;
                line-height: 24px;
                white-space: nowrap;
            }

            .title {
                color: var(--oslo-gray);
                font-family: var(--font-family-lexend);
                font-size: var(--font-size-l);
                font-weight: 500;
                letter-spacing: 0;
                line-height: 24px;
                white-space: nowrap;
            }
        }
    }

    .contact-btn {
        align-items: center;
        background-color: var(--mountain-meadow);
        border-radius: 32px;
        display: flex;
        gap: 16px;
        height: 48px;
        padding: 12px 16px;

        .icon-call {
            height: 24px;
        }
        .contact-now {
            letter-spacing: 0;
            line-height: 22px;
            white-space: nowrap;
        }
    }

    @media screen and (max-width: 1300px) {
        width: 90%;
        justify-content: space-between;
    }

    @media screen and (max-width: 410px) {
        flex-direction: column;
        gap: 1rem;
    }
}

.containerImages {
    font-family: sans-serif;
    display: flex;
    width: 55%;
    flex-direction: column;
    align-items: flex-start;

    @media screen and (max-width: 1300px) {
        width: 90%;
    }

    @media screen and (max-width: 425px) {
        width: 100%;
    }
  }
  
  .primary-container {
    height: 550px;
    width: 90%;
    position: relative;
    z-index: 0;

    @media screen and (max-width: 410px) {
        height: 350px;
    }
  }
  
  .primary-product-image {
    height: 90%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 10px 0px 10px gray;
  }
  
  .product-gallery {
    display: flex;
    gap: 2rem;
    margin-top: -10rem;
    margin-left: -6rem;
   
    z-index: 3;

    &:first-child {
        width: 300px;
        margin-left: 2rem;
    }

    @media screen and (max-width: 1300px) {
        margin-left: 0rem;
    }

    @media screen and (max-width: 425px) {
        width: 100%;
        flex-direction: column;
        margin-top: -6rem;
    }

  }

  .related-product-image {
    box-shadow: 0px 10px 10px gray;
    
    &:hover {
        scale: 1.1;
        transition: 0.5s ease-in-out;
    }
    
    &:first-child {
        width: 300px;
        margin-left: 2rem;

        @media screen and (max-width: 425px) {
            width: 225px;
        }
    }
    &:not(:first-child) {
        height: 150px;
        margin-top: auto;
        justify-content: flex-end;      
        
        @media screen and (max-width: 425px) {
            margin-left: 2rem;
        }
    }

    &:last-child {
        @media screen and (max-width: 860px) {
            display: none;
        }
    }

   /**&:last-child {
        height: 100px;
        width: 120px;
    }**/
  }
  
  /**.product-gallery .related-product-image:first-child {
    margin-top: 0;
  }**/